body {
  background: #fff;
}

.list {
  box-sizing: border-box;
  margin-bottom: 2vh;
  margin: 0 auto;
  max-width: 1200px;
  display: -webkit-box;
  overflow-x: auto;
}

.list-item {
  width: 170px;
  height: 50px;
  border: darkblue solid;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
}

.list-img {
  width: 30%;
  height: 80%;
  float: left;
  padding: 5px;
}

.list-text {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 50px;
}

.slide-container {
  width: 70%;
  margin: auto;
}

h3 {
  text-align: center;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 100%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}

.logo {
  width: 81px;
  height: 41px;
}

.personheight {
  display: flex;
}

.logoImg {
  padding-left: 60px !important;
}

.profileBtn {
  padding-left: 10px;
}

.girisbtn {
  align-items: center;
  background: red;
  border: none;
  border-radius: 40px;
  color: #fff;
  display: flex;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 700;
  justify-content: center;
  outline: none;
  padding: 7px 10px;
  width: 100px;
  height: 39px;
  float: right;
  font-family: "Helvetica";
}

.personbtn {
  align-items: center;
  background-color: #000;
  border: none;
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-size: 19px;
  height: 40px;
  justify-content: center;
  margin-left: 5px;
  outline: none;
  position: relative;
  width: 40px;
}
.logoafterdiv {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  max-width: 1120px !important;
  max-height: 40.5px;
  width: 100%;
  max-width: unset;
}

.footerBar {
  border: solid #eceeef;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 75px;
  line-height: 60px;
}

.footerLogo {
  height: 70px;
}

.kesfet {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
}

.dahaCuzdan {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
}

.photoBackground {
  background-color: #ffffff;
  /* border: 1.5px solid #eceeef; */
  border: 1.5px solid #000;
  border-radius: 20px;
}

.photo {
  width: 200px;
  height: 100px;
}

.indicators {
  display: flex;
  list-style-type: none;
}

.li {
  margin-left: 5px;
}

.photoDate {
  background: #1d1e1c;
  border-radius: 26.8182px;
}

.dateText {
  font-family: "Helvetica";
  font-style: normal;
  color: #ffffff;
}

.react-slideshow-container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:relative}.react-slideshow-container .nav{z-index:10;position:absolute;cursor:pointer}.react-slideshow-container .nav:first-of-type{left:0}.react-slideshow-container .nav:last-of-type{right:0}.react-slideshow-container .default-nav{height:30px;background:rgba(255,255,255,0.6);width:30px;border:0;text-align:center;color:#fff;border-radius:50%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.react-slideshow-container .default-nav:hover,.react-slideshow-container .default-nav:focus{background:#fff;color:#666;outline:0}.react-slideshow-container .default-nav.disabled:hover{cursor:not-allowed}.react-slideshow-container .default-nav:first-of-type{margin-right:-30px;border-right:0;border-top:0}.react-slideshow-container .default-nav:last-of-type{margin-left:-30px}.react-slideshow-container+ul.indicators{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin-top:20px}.react-slideshow-container+ul.indicators li{display:inline-block;position:relative;width:7px;height:7px;padding:5px;margin:0}.react-slideshow-container+ul.indicators .each-slideshow-indicator{border:0;opacity:.25;cursor:pointer;background:transparent;color:transparent}.react-slideshow-container+ul.indicators .each-slideshow-indicator:before{position:absolute;top:0;left:0;width:7px;height:7px;border-radius:50%;content:'';background:#000;text-align:center}.react-slideshow-container+ul.indicators .each-slideshow-indicator:hover,.react-slideshow-container+ul.indicators .each-slideshow-indicator.active{opacity:.75;outline:0}.react-slideshow-fadezoom-wrapper{width:100%;overflow:hidden}.react-slideshow-fadezoom-wrapper .react-slideshow-fadezoom-images-wrap{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}.react-slideshow-fadezoom-wrapper .react-slideshow-fadezoom-images-wrap>div{position:relative;opacity:0}.react-slideshow-wrapper .react-slideshow-fade-images-wrap>div[aria-hidden='true']{display:none}.react-slideshow-wrapper.slide{width:100%;overflow:hidden}.react-slideshow-wrapper .images-wrap{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}.react-slideshow-wrapper .images-wrap>div[aria-hidden='true']{display:none}